<div class="normal-movie-item">
    <div class="normal-movie-item__img">
        <div class="normal-movie-item__img__clean-border"></div>
        
        <img  class="normal-movie-item__img__img" [ngStyle]="{'opacity':hideImg? 0:1}" (error) = "hideImage()" [src]=image />
        <div *ngIf="!imgExists || hideImg" class="normal-movie-item__img__title">
            {{ movie.title }}
        </div>
    </div>
    <div class="normal-movie-item__img__movie-info">
        <div>
            <h2>{{ movie.title }}</h2>
        </div>
        <div class="normal-movie-item__img__movie-info__img-container">
            <img  class="normal-movie-item__img__movie-info__img-container__img" [ngStyle]="{'opacity':hideImg? 0:1}" (error) = "hideImage()" [src]=image />
        </div>
        <div class="normal-movie-item__img__movie-info__details">
            
            <div><p> {{ movie.release_date }} </p></div>
            <div class="normal-movie-item__img__movie-info__details__icon">
                <div class="golden-icon-container">
                    <mat-icon class="transparent-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="star"></mat-icon>
                </div>
                <small>{{ movie.vote_average }}</small>
            </div>
            <div class="normal-movie-item__img__movie-info__details__icon">
                <div class="fire-icon-container">
                    <mat-icon class="transparent-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="whatshot"></mat-icon>
                </div>

                <small>{{ movie.popularity }}</small>
            </div>

            <div [ngStyle]="{'margin-top':'20px'}">
                <app-details-modal [movie]="movie"></app-details-modal>
            </div>
        </div>
        
    </div>
    

 
</div>