<div class="movie-modal-container">
    <div class="movie-modal-container__img">
        <div class="movie-modal-container__img__effect"></div>
        <img [ngStyle]="{'opacity':hideImg? 0:1}" (error) = "hideImage()" src={{image}}/>
    </div>
    <div class="movie-modal-container__info">
        <div class="movie-modal-container__info__main-info">
            <div class="movie-modal-container__info__main-info__title">
                {{fromParent.title}}
            </div>
            
            <div class="movie-modal-container__info__main-info__extras">
                <div >{{fromParent.release_date}}</div>
                <div class="movie-modal-container__info__main-info__extras__generes">
                    <div class="movie-modal-container__info__main-info__extras__generes__genere" *ngFor="let genre of fromParent.genres">{{genre.name}}</div>
                </div>
                <div class="movie-modal-container__info__main-info__extras__adult">{{adult}}</div>        
            </div>
        </div>
        <div class="movie-modal-container__info__overview">
            <div>
                <p>{{fromParent.overview}}</p>
            </div>
           <div class="movie-modal-container__info__overview__options">
                <div class="movie-modal-container__info__overview__options__rating">
                    <div class="movie-modal-container__info__overview__options__rating__info"> 
                        <div class="golden-icon-container">
                            <mat-icon class="transparent-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="star"></mat-icon>
                        </div>
                        <div>
                            {{fromParent.vote_average}} 
                        </div>
                    </div>
                    <div class="movie-modal-container__info__overview__options__rating__info"> 
                        <div class="movie-modal-container__info__overview__options__rating__info__icon">
                            <mat-icon class="white-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="people"></mat-icon>
                        </div>
                        <div>
                            {{ fromParent.vote_count }}
                        </div>
                    </div>   
                    <div class="movie-modal-container__info__overview__options__rating__info"> 
                        <div class="fire-icon-container">
                            <mat-icon class="transparent-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="whatshot"></mat-icon>
                        </div>
                        <div>
                            {{fromParent.popularity}} 
                        </div>
                    </div>                   
                    
                  
                </div>
                <div [ngStyle]="{'height':'100%'}"> <app-primary-button  text="Watch"></app-primary-button> </div>
         
           </div>
 
        </div>
        
    </div>
</div>
