<div class="top-movie-item">

    <div class="top-movie-item__img">    
        <img [ngStyle]="{'opacity':hideImg? 0:1}" class="top-movie-item__img__img" (error)="hideImage()" [src]=image />
        <div class="top-movie-item__img__overlayer">
            <div class="top-movie-item__img__overlayer__info">

                <div class="top-movie-item__img__overlayer__info__text">
                    <div >
                        <h1 [ngStyle]="{'font-size':'max(5vh, 5vw)'}">{{ movie.title }}</h1>
                        <div class="top-movie-item__img__overlayer__info__text__extras">
                            <div class="icons-container">
                                <div class="golden-icon-container">
                                    <mat-icon class="transparent-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="star"></mat-icon>
                                </div>
                                <small >{{ movie.vote_average }}</small>
                            </div>
                            <div class="icons-container">
                                <div class="fire-icon-container">
                                    <mat-icon class="transparent-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="whatshot"></mat-icon>
                                </div>
                
                                <small>{{ movie.popularity }}</small>
                            </div>
                            
                        </div>
                    </div>
                    <div>
                        <p [ngStyle]="{'font-size':'max(0.8vh, 1.3vw)'}"> {{ movie.overview }} </p>
                    </div>
                </div>

                <div class="top-movie-item__img__overlayer__info__more">
                    <div class="top-movie-item__img__overlayer__info__more__rank ">
                       
                        #{{ rank }}
               
                    </div>
                    <div>
                        <app-details-modal [movie]="movie"></app-details-modal>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>