@import "../../../variables.scss";

.nav-bar{
    position: relative;
    height: 100%;
    //background: linear-gradient(90deg, $primary-color, $seconday-color);
   padding: 20px;
   display: flex;
   
   align-items: center;
   color: white;
   overflow: hidden;

    &__search-bar-container{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
    }
    &__options{
        height: 100%;
        position: absolute;
        right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
     

    }
   //-webkit-text-stroke: 0.5px $primary-color;
}

.title{

    font-size: 35px;
    font-size: max(2.5vh, 2.5vw);

    font-weight: bolder;
    color:transparent;
    background: linear-gradient(45deg, $primary-color, $seconday-color);
    -webkit-background-clip: text;
    
}