<div class="nav-bar">
    <div class="title">Movies DB</div>
    <!-- <div class="nav-bar__search-bar-container">
        <app-search-bar [ngStyle]="{'height':'100%', 'width':'100%'}"></app-search-bar>
    </div> -->
    <div class="nav-bar__options">
        <div [ngStyle]="{'margin-right':'10px'}">
            <app-primary-button text="Sign In"></app-primary-button>
        </div>
        <div>
            <app-secondary-button (btnAction)="test()" text="Sign Up"></app-secondary-button>
        </div>
        
    </div>
</div>