

<body>
    <div class="main-container">
        <div class="main-container__nav-bar">
            <app-nav-bar></app-nav-bar>
        </div>

        <!-- <app-normal-view [ngStyle]="{'height':'100%','width':'100%'}"></app-normal-view> -->
        
        <div class="main-container__movies__top-movies">
            <app-top-movie></app-top-movie>
        </div>
        <div class="main-container__movies__normal-movies">
            <app-normal-movie ></app-normal-movie>
        </div>

        <!-- <app-normal-view></app-normal-view> -->
        <!-- <router-outlet></router-outlet> -->
    </div>
</body>