

<body>
    <div class="main-container">
        <div class="main-container__nav-bar">
            <app-nav-bar></app-nav-bar>
        </div>

        <!-- <app-normal-view [ngStyle]="{'height':'100%','width':'100%'}"></app-normal-view> -->
        
        <div class="main-container__movies__top-movies">
            <app-top-movie></app-top-movie>
        </div>
        <div class="main-container__movies__normal-movies">
            <app-normal-movie ></app-normal-movie>
        </div>
        <div class="main-container__footer">
            <div class="main-container__footer__contacts">
                <div [ngStyle]="{'margin':'1.3vh'}">Contact Us </div>
                <div class="main-container__footer__contacts__icons">
                    <div><mat-icon class="white-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="email"></mat-icon></div>
                    <div><mat-icon class="white-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="local_phone"></mat-icon></div>
                    <div><mat-icon class="white-icon big-icon" aria-hidden="false" aria-label="Original Movies" fontIcon="message"></mat-icon></div>
                </div>
            </div>
            
        </div>
        <!-- <app-normal-view></app-normal-view> -->
        <!-- <router-outlet></router-outlet> -->
    </div>
</body>