@import "../../../variables.scss";

.empty-movies-container{
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-columns: repeat(5, 20%);
    //grid-template-rows: auto;

    margin-top:30px;
    padding: 30px;

    &__no-results{
        width: 100%;
        height: calc($normal-movie-item-height*2);
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        font-size: 4vw;
        background:linear-gradient(45deg, $primary-color, $seconday-color);
        -webkit-background-clip: text;
        color: transparent;
    }
}
.normal-movies-container{
    height: 100%;
    width: 100%;
    display: grid;

    //this is not the grid of the movies/
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;



    margin-top:3vh;
    padding: 30px;

    &__movies{
        grid-column: 1/-1;
        overflow: scroll;

        //here, replaced the old grid layout with a flex-box layout
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
      
        width: 100%;
        &__movie{
            flex-basis:max(18vw,300px);
        }
    }
    &__filters{
        grid-column: 1/-1;
        padding-left: 20px;
        padding-right: 20px;
    
        display: flex;
        
        align-items: center;
      
        margin-left: calc(20px + 5%);
        *{
            margin-right:1vw;
           
        }
    }
    &__search{
        grid-column: 1/-1;
        padding-left: 20px;
        padding-right: 20px;
        display: grid;
        grid-template-columns: 8% 1fr;
        &__content{
            height: min(10vh,10vw);
            min-height: 60px;
        }
        &__back{
            cursor: pointer;
            background: linear-gradient(45deg, $primary-color, $seconday-color);
            -webkit-background-clip: text;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__title{
        grid-column: 1/-1;
        margin-left: 20px;
        &__text{
            width: fit-content;
            display: flex;
            align-items: center;
            font-size: max(2.5vh, 3vw);
            font-weight: bolder;
            color:transparent;
            background: linear-gradient(45deg, $primary-color, $seconday-color);
            -webkit-background-clip: text;
        }
    }
    //overflow: scroll;
    &__pagination{
        padding-bottom: 20px;
        margin-left:20px;
        margin-right:20px;
        grid-column: 1/-1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}




.movies-icon{
    color:transparent;
    font-size: max(4vh, 5vw);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

// @media only screen and (max-width: 1150px) {
//     .normal-movies-container{
//         grid-template-columns: repeat(4, 1fr);
//     }
// }

// @media only screen and (max-width: 1000px) {
//     .normal-movies-container{
//         grid-template-columns: repeat(3, 1fr);
//     }
// }


// @media only screen and (max-width: 800px) {
//     .normal-movies-container{
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

// @media only screen and (max-width: $phones-width) {
//     .normal-movies-container{
//         grid-template-columns: repeat(1, 1fr);
//     }
// }

@media only screen and (max-width: 500px) {
    .normal-movies-container__movies__movie{
        flex-basis: 250px;
    }
}