@import "../../../variables.scss";
.secondary-btn-container{
    cursor: pointer;
    height: 100%;
    width: 100%;
    

    border: none;
    border-radius: 10px;
    padding: 0.2vw;
    background: linear-gradient(45deg, $primary-color, $seconday-color);
    display: flex;
    justify-content: center;
    align-items: center; 
    &__secondary-btn{

        border: none;
        padding-top:  0.6vw;
        padding-bottom:  0.6vw;
        padding-left: 1.7vw;
        padding-right:  1.7vw;
        width: auto;
        border-radius: 10px;
        background-color: $primay-background-color;;
        font-size: max(1.1vw,1.1vh);
        color: white;
        cursor: pointer;
       
    }
}
.checked{
    background:linear-gradient(45deg, $primary-color, $seconday-color);
}