$red-color: red;


//colors
$primary-color: #F637EC;
$seconday-color: #00D7FF;


$primary-color-light: #f637ed92;
$seconday-color-light: #00d9ff98;

$primary-color-light-extra: #90048943;
$seconday-color-light-extra: #01667837;


$primay-background-color: #1A1A40;
//sizes
    //height
$nav-bar-height: 75px;
$top-movies-height: 40%;
$normal-movies-height: 60%;

$normal-movie-item-height: 400px;
