$red-color: red;


//colors
$primary-color: #F637EC;
$seconday-color: #00D7FF;


$primary-color-light: #f637ed92;
$seconday-color-light: #00d9ff98;

$primary-color-light-2: rgba(246, 55, 237, 0.5725490196);
$seconday-color-light-2: rgba(0, 217, 255, 0.2);


$primary-color-light-extra: #90048943;
$seconday-color-light-extra: #01667837;


// $primay-background-color: #1A1A40;
$primay-background-color: #1A1A40;
//sizes
    //height
$nav-bar-height: 10vh;
$top-movies-height: 40%;
$normal-movies-height: 60%;

$normal-movie-item-height: 50vh;
$footer-height: 10%;




//Media Queries Variable
$phones-width: 500px;